
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h2 class="txt-align">Simulateur de crédit</h2>
          <form name="form" [formGroup]="simulatorCredit" (ngSubmit)="simulatorCredit.valid">
            <div class="form-group">
              <label for="duration">Durée</label>
              <input type="text"  class="form-control" formControlName="duration" [ngClass]="{'is-invalid':simulatorCredit.get('duration').touched && simulatorCredit.get('duration').invalid}" required />
              <div class="invalid-feedback">
                <div>Durée est obligatoire</div>
              </div>
            </div>
            <br> 
            <div class="form-group">
              <label for="creditAmount">Montant du crédit demandé:</label>
              <input type="text" class="form-control" formControlName="creditAmount" [ngClass]="{'is-invalid':simulatorCredit.get('creditAmount').touched && simulatorCredit.get('creditAmount').invalid}" required />
              <div class="invalid-feedback">
                <div>Montant du crédit est obligatoire</div>
              </div>
            </div>
            <br> 
            <div class="form-group">
              <label for="contribution">Apport:</label>
              <input type="text" class="form-control" formControlName="contribution" [ngClass]="{'is-invalid':simulatorCredit.get('contribution').touched && simulatorCredit.get('contribution').invalid}"   />
             
            </div>
            <div class="form-group">
                <br> 
              <button class="btn btn-primary"  [disabled]="!simulatorCredit.valid" (click)= "saveCredit()">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>